
{% if is_paginated %}

<ul class="pagination" >
    {% if page_obj.has_previous %}
    <li style="margin-left: 5px">
        <span><a href="?page={{ page_obj.previous_page_number }}"> Previous </a></span>
    </li>
    {% endif %}
    <li class="">
        <span> Page  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>
    </li>
    {% if page_obj.has_next %}
    <li style="margin-left: 5px">
        <span><a href="?page={{ page_obj.next_page_number }}">  Next </a></span>
    </li>
    {% endif %}
</ul>
{% endif %}


{% comment %}
<div>
  <span>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </span>
</div>

{% endcomment %}