{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock title %}


{% block navbar %}


{%  include 'home/navbar.html' %}

{% endblock navbar %}

{% block content %}
     <form class="text-center border border-light p-5" action="" method="POST">
        {% csrf_token %}

        <p class="h3 mb-3"><i class="fas fa-coffee"></i> Be a Member </p>
        <p class="mb-3">get access to all featers and unlimited posts (500$)</p>

        <input type="name" name="name" id="name" required class="form-control mb-4" placeholder="Name">

        <!-- RAZORPAY INTEGRATION HERE -->
        <script src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_ktfDmEBdgtW2Ul"
        data-amount="50000"
        data-currency="INR"
        data-order_id="{{payment.id}}"
        data-buttontext="Pay with Razorpay"
        data-name="Professional Cipher"
        data-description="Django and Data Science"
        data-image="https://example.com/your_logo.jpg"
        data-prefill.name="PC"
        data-prefill.email="pc@studygyaan.com"
        data-theme.color="#F37254"></script>

    </form>
{% endblock %}